#aboutus{
    background-color: red;
}
#contactus{
    background-color: aqua;
}
#product{
    background-color: blue;
}
#shoppingcard{
    background-color: rgb(245, 14, 149);
}
#themostspicial{
    background-color: rgb(152, 238, 39);
}
#useraccount{
    background-color: rgb(245, 140, 12);
}